{% extends "layout.html" %}
{% block content %}
    
       

        <h2>Tu red IoT merece protección profesional</h2>
      <p>
        Seguridad IoT es una solución especializada en la defensa de redes con dispositivos inteligentes. Detectamos amenazas, bloqueamos accesos no autorizados y ofrecemos un monitoreo constante para tu tranquilidad.
      </p>
      <p>
        Con nuestra plataforma, no necesitas ser un experto para mantener tu entorno digital seguro.
      </p>
      <h2>¿Por qué elegirnos?</h2>
      <p>
        ✔️ Protección avanzada 24/7 <br>
        ✔️ Panel de control fácil de usar <br>
        ✔️ Soporte técnico experto en IoT <br>
        ✔️ Escalable para hogares, medianas y pequeñas empresas <br>
      </p>
{% endblock %}

